body {
       margin: 0;
       font-family: 'Roboto';
}

h3, nav, h1 {
        margin: 0 auto;
        max-width: 1200px;
}

.hero-row {
      position: relative;
      background-color: #1f2937;
      padding: .5em 0 8em 0;
}

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5em;
}

.logo {
        font-size: 1.5rem;
        color: #F9FAF8;
}

nav ul {
        display: flex;
        gap: 1.5rem;
        text-decoration: none;
        list-style-type: none;
}

nav ul li {
        font-size: 1.125rem;
}

nav ul li a {
        text-decoration: none;
        color: #e5e7eb;
}

.hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 13em;
}

h1 {
        font-size: 3rem;
        font-weight: bolder;
        color: #F9FAF8;
}

.hero-button {
        background-color: #3882f6;
        color: #F9FAF8;
        border-radius: .5em;
        padding: .5em 2em;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        margin-top: .1em;
}

.main-text {
        font-size: 1.125rem;
        color: #e5e7eb;
        margin-right: 2em;
}

.img-place {
        background: #e5e7eb;
        padding: 4em 12em;
        margin-left: 1em;
}

/*Img Row*/
.img-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 21em 6em
}

h2 {
        font-size: 2.25rem;
        font-weight: bolder;
        color: #1f2937;
}

.img-section {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.img-container {
        display: flex;
}

figure {
margin: 0;
}



.img-container span {
        display: block;
        border-style: solid;
        border-width: 0.25em;
        border-radius: 1em;
        border-color: #3882f6;
        padding: 4.688em;
        margin: 1em;
}

/*Quote Section*/
.quote {
        background-color: #e5e7eb;
        padding: 3.5em;
        font-size: 2.25rem;
        display: flex;
        flex-direction: column;
}

blockquote {
        margin: 0;
}

blockquote p {
        align-self: center;
        font-weight: lighter;
        font-style: italic;
        margin: 0 .7em;
}

figcaption {
        align-self: flex-end;
}

.author {
        font-weight: bold;
        font-style: normal;
        font-size: 1.12rem;
        margin: 1em;
}

/*CTA Section*/
.call-to-action {
        display: flex;
        justify-content: center;
        margin: 5em;
}

.cta-container {
        background-color: #3882f6;
        color: #F9FAF8;
        border-radius: .5em;
        width: 700px;
        padding: 3em 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.cta-col-1 h4 {
        margin: 0;
}

.cta-col-1 p {
        margin: 0;
        color: #e5e7eb;
}

.cta-col-2 button {
        border-style: solid;
        border-color: #F9FAF8;
        padding: .5em 2em;
}

/*Footer*/
.footer-background {
        background-color: #1f2937;
}

footer {
        display: flex;
        justify-content: center;
        color: #F9FAF8;
        padding: 1em;
}