body {
       margin: 0;
       font-family: 'Roboto', sans-serif;
}

header, h1, .hero, .quote {
        margin: 0 auto;
        max-width: 1200px;
}

.hero-row {
      position: relative;
      background-color: #1f2937;
      padding: .5em 0 8em 0;
      
}

header {
        display: flex;
       justify-content: space-between;
        align-items: center;
        margin-bottom: 5em;
}

.logo {
        font-size: 1.5rem;
        color: #F9FAF8;
}

nav ul {
        display: flex;
        gap: 1.5rem;
        text-decoration: none;
        list-style-type: none;
}

nav ul li {
        font-size: 1.125rem;
}

nav ul li a {
        text-decoration: none;
        color: #e5e7eb;
}

.hero {
        display: flex;
        align-items: center;
       
}


h1 {
        font-size: 3em;
        font-weight: bolder;
        color: #F9FAF8;
        flex-wrap: wrap;
        margin: 0;
}

.hero-button {
        background-color: #3882f6;
        color: #F9FAF8;
        border-radius: .5em;
        padding: .5em 2em;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        margin-top: .1em;
}

.main-text {
        font-size: 1.125em;
        color: #e5e7eb;
        flex-wrap: wrap;
}

.img-place {
        display: block;
        background: #e5e7eb;
        padding: 6em 13em;
        
}

.img-place p {
        margin: 0;
}

/*Img Row*/
.img-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em 0 7em 0 ;
        padding: .5em;
}

h2 {
        font-size: 2.25rem;
        font-weight: bolder;
        color: #1f2937;
}

.img-container {
        display: flex;
        margin: 1em;
}

.img-container span {
        font-size: 1em;
        padding: 5em 5em;
        border-color: #3882f6;
        border-style: solid;
        border-radius: 1em;
        display: inline-block;
        border-width: 0.25em;
}

.img-container figure {
        margin: 0;
        width: 13em;
}

.img-container figcaption {
        width: 9rem;
        text-align: center;
        margin-left: .5em;
 }

/*Quote Section*/
.quote {
        padding: 4.5em 4.5em;
        font-size: 2.25em;
        display: flex;
        flex-direction: column;
        margin: 0 3.3em
}

.quote-container {
        background-color: #e5e7eb;
}

.main-quote {
}

.main-quote p {
        align-self: center;
        font-weight: lighter;
        font-style: italic;
        margin: 0;
}

.author {
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        align-self: flex-end;
        margin-right: 1.5em;
}

/*CTA Section*/
.call-to-action {
        display: flex;
        justify-content: center;
        margin: 5em;
}

.cta-container {
        background-color: #3882f6;
        color: #F9FAF8;
        border-radius: .5em;
        width: 700px;
        padding: 3em 9.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.cta-col-1 h4 {
        margin: 0;
        font-size: 1.5em;
}

.cta-col-1 p {
        margin: 0;
        color: #e5e7eb;
        font-weight: lighter;
}

.cta-col-2 button {
        border-style: solid;
        border-color: #F9FAF8;
        padding: .5em 2.5em;
        border-radius: .5em;
        background-color: #3882f6;
        color: #F9FAF8;
        font-weight: normal;
        font-size: 1em;
}

/*Footer*/
.footer-background {
        background-color: #1f2937;
}

footer {
        display: flex;
        justify-content: center;
        color: #F9FAF8;
        padding: 1em;
}